div {
	font-size:1.5em;
	text-align: center;
}

p {
	font-weight: bold;
}


.game .scoreboard {
	min-width:320px;
	max-width:520px;
}

#topLeft {
	float:left;
}


.button {
	height: 125px;
	border: 2px solid red;
}

.reset {
	max-width: 100%;
}

.scoreboard {
	height: 125px;
	border: 2px solid blue;
}

.middlebuttons {
	font-size: 1em;
	margin:2% 0;
	vertical-align: middle;
}

.deny, .scoreboard {
	padding: 2%;
}

