div {
	font-size:2em;
	border: 1px solid orange;
	text-align: center;
}


.game .scoreboard {
	min-width:320px;
	max-width:520px;
}

#topLeft {
	float:left;
}


/*.button {
	height: auto;
	width: auto;
}*/